<% if model.errors.any? %>
<div class="alert alert-warning">
  <ul class="err-msg">
    <% model.errors.full_messages.each do |message| %>
    <li class="err-msg__item"><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
