<footer class="footer-auth">
  <ul class="footer-auth__menu flex">
    <li class="footer-auth__item">
      <%= link_to '特定商取引法に基づく表示', '#' %>
    </li>
    <li class="footer-auth__item">
      <%= link_to '利用規約', '#' %>
    </li>
    <li class="footer-auth__item">
      <%= link_to 'プライバシーポリシー', '#' %>
    </li>
    <li class="footer-auth__item">
      <%= link_to 'お問い合わせ', '#' %>
    </li>
  </ul>
  <small class="footer-auth__copyr"
    >Copyright&copy; Paipad Inc. All Rights Reserved</small
  >
</footer>
