<header class="header-auth">
  <div class="header-auth__inner">
    <div class="wrap">
      <h1 class="header-auth__logo">
        <%= link_to image_tag('logo_paipad.png'), root_path %>
      </h1>
    </div>
  </div>
</header>
