@import "mixin";

/* main footer */
.footer {
  background-color: #fafaf5;
  border-top: 1px solid #dddbd6;
  &__upper {
    padding: min(10%, 50px) 0;
    border-bottom: 1px solid #dddbd6;
    justify-content: space-between;
    &-title {
      @include fs-15();
      font-weight: bold;
      position: relative;
      padding-left: 25px;
      &.secondary {
        margin-top: 15px;
      }
      &.recipe {
        &::before {
          @include before-content("ico_recipe.png");
        }
      }
      &.write {
        &::before {
          @include before-content("ico_write.png");
        }
      }
      &.menu {
        &::before {
          @include before-content("ico_menu.png");
        }
      }
      &.suggest {
        &::before {
          @include before-content("ico_suggest.png");
        }
      }
      &.premium {
        &::before {
          @include before-content("ico_premium.png");
        }
      }
      &.user {
        &::before {
          @include before-content("ico_user.png");
        }
      }
    }
    &-item {
      margin-left: 0;
      margin-top: 5px;
      @include fs-14();
    }
  }
  &__lower {
    padding: min(10%, 50px) 0 0 0;
    &-flex {
      align-items: center;
      gap: 30px;
      &-title {
        @include fs-13();
      }
      &-item {
        @include fs-13();
      }
      &-list {
        gap: 15px;
        &.last {
          margin-left: 27px;
        }
      }
    }
  }
  &__copyr {
    color: #696652;
    @include fs-13();
    margin-top: 30px;
    display: inline-block;
  }
  &__img {
    margin-top: 15px;
  }
}

/* auth footer */
.footer-auth {
  background-color: #f7f3e8;
  padding: min(5%, 25px) 0;
  &__menu {
    justify-content: center;
    gap: 15px;
  }
  &__item {
    @include fs-13();
    text-decoration: underline;
    a {
      color: #755353;
    }
  }
  &__copyr {
    display: block;
    width: fit-content;
    margin: 10px auto 0;
  }
}
