@import "mixin";

/* auth form */
.form-auth {
  width: min(100%, 380px);
  padding: min(10%, 50px) 0;
  &__item {
    margin-top: 15px;
    label {
      @include fs-14();
    }
  }
  &__input {
    width: 100%;
    padding: 5px;
    @include fs-16();
    &--file {
      @include fs-16();
    }
    &--submit {
      background-color: #f5f5f5;
      border: 1px solid #cccccc;
      @include fs-16();
      font-weight: bold;
      width: 100%;
      padding: 10px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__link {
    margin: 15px auto 0;
    @include fs-14();
    width: fit-content;
    &.secondary {
      margin-top: 0;
    }
  }
}

/* recipe form */
.form-recipe {
  background-color: #fff;
  padding: 20px;
  &__heading {
    margin-top: 0;
    @include fs-20();
  }
  &__item {
    margin-top: 20px;
  }
  &__label {
    @include fs-14();
  }
  &__input {
    padding: 5px;
    @include fs-16();
    width: 50%;
  }
}
