/* font-size 11px */
@mixin fs-11 {
  font-size: clamp(0.9rem, 0.827rem + 0.36vw, 1.1rem);
}

/* font-size 12px */
@mixin fs-12 {
  font-size: clamp(1rem, 0.902rem + 0.49vw, 1.2rem);
}

/* font-size 13px */
@mixin fs-13 {
  font-size: clamp(1.1rem, 1.002rem + 0.49vw, 1.3rem);
}

/* font-size 14px */
@mixin fs-14 {
  font-size: clamp(1.2rem, 1.102rem + 0.49vw, 1.4rem);
}

/* font-size 15px */
@mixin fs-15 {
  font-size: clamp(1.3rem, 1.202rem + 0.49vw, 1.5rem);
}

/* font-size 16px */
@mixin fs-16 {
  font-size: clamp(1.4rem, 1.302rem + 0.49vw, 1.6rem);
}

/* font-size 18px */
@mixin fs-18 {
  font-size: clamp(1.6rem, 1.527rem + 0.36vw, 1.8rem);
}

/* font-size 20px */
@mixin fs-20 {
  font-size: clamp(1.8rem, 1.702rem + 0.49vw, 2rem);
}

/* before content of footer upper title */
@mixin before-content($ico) {
  content: "";
  background: url($ico) no-repeat;
  background-size: contain;
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
}

/* before content of home category heading */
@mixin before-heading-content($img) {
  content: "";
  background: url($img) no-repeat;
  background-size: contain;
  display: inline-block;
  width: 48px;
  height: 42px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -45px;
}

/* media query */
@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
