@import "mixin";

/* 新着レシピ一覧 */
.recipe {
  background-color: #fff;
  padding: 20px;
  &__inner {
    border: 2px solid #f7f3e8;
    border-radius: 10px;
    padding: 15px;
  }
  &__heading {
    @include fs-20();
    color: #401c00;
    margin: 0;
  }
  &__contents {
    margin-top: 40px;
  }
  &__flex {
    margin-bottom: 15px;
    &-item {
      &.before {
        width: 15%;
      }
      &.after {
        flex-grow: 1;
        padding-left: 10px;
        h3 {
          color: #8ca405;
          font-weight: bold;
          @include fs-18();
          text-decoration: underline;
          display: inline-block;
          margin: 0;
        }
        span {
          margin-left: 5px;
          span {
            color: #999;
            @include fs-11();
          }
          a {
            color: #71411a;
            @include fs-12();
            display: inline;
            text-decoration: underline;
          }
        }
        p {
          &:first-of-type {
            color: #808080;
            @include fs-14();
          }
          &:nth-of-type(2) {
            color: #cfaa80;
            @include fs-12();
          }
        }
      }
    }
  }
  &__txt {
    @include fs-14();
  }
  &__img {
    width: 20px;
    height: 20px;
  }
}

/* レシピ詳細 */
.recipe-show {
  padding-top: 20px;
  &__inner {
    background-color: #fff;
    border: 1px solid #dddbd6;
    padding: 20px;
  }
  &__heading {
    color: #8ca405;
    font-size: clamp(2.2rem, 2.102rem + 0.49vw, 2.4rem);
  }
  &__flex {
    &.first {
      gap: 25px;
      border-bottom: 1px solid #dddbd6;
      padding-bottom: 30px;
      .recipe-show__flex-item {
        &.before {
          width: 25%;
          img {
            border-radius: 20px;
          }
        }
        &.after {
          flex-grow: 1;
          p {
            &:first-child {
              color: #424031;
              @include fs-15();
            }
            &:nth-of-type(2) {
              color: #696652;
              @include fs-13();
              line-height: 2;
              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: inline-block;
              }
            }
          }
          dl {
            margin-top: 50px;
          }
        }
      }
      & + div {
        margin-top: 30px;
        border-bottom: 1px solid #dddbd6;
        padding-bottom: 30px;
      }
    }
    &.secondary {
      margin-top: 30px;
      justify-content: space-between;
      .recipe-show__flex-item {
        width: 45%;
      }
    }
  }
  &__sub-heading {
    @include fs-20();
    font-weight: bold;
    margin: 0;
  }
  &__txt {
    margin: 0;
    @include fs-15();
    color: #1c1a10;
  }
  &__data {
    color: #696652;
    @include fs-12();
    display: block;
    margin-top: 20px;
    text-align: right;
  }
  &__btn {
    @include fs-13();
    color: #1c1a10;
    position: relative;
    padding: 5px 15px 5px 30px;
    cursor: pointer;
    background-color: #fafaf5;
    border: 1px solid #dddbd6;
    margin-top: 5px;
    &::before {
      content: "";
      background: url(ico_like.png) no-repeat;
      background-size: contain;
      display: inline-block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0.5em;
      top: calc(50% - 20px / 2);
    }
    &.remove {
      &::before {
        background: url(ico_unlike.png) no-repeat;
        background-size: contain;
      }
    }
  }
}
